nav li:nth-child(1) {
    color: red;
  }
  
  nav li:nth-child(2) {
    color: blue;
  }
  
  nav li:nth-child(3) {
    color: blue;
  }
  
  nav li:nth-child(4) {
    color: green;
  }
  
  h1 {
    text-align: center;
    border: 3px solid brown;
  }
  
  main section:nth-child(1) h2 {
    text-align: center;
    background: yellow;
    border: 2px dashed blue;
  }
  
  div:nth-child(2) h3 {
    font-size: 18px;
  }
  
  div:nth-child(2) a:hover {
    font-size: 22px;
  }
  
  div:nth-child(3) h3 {
    border: 2px dashed yellow;
  }
  
  div:nth-child(3) p {
    color: purple;
  }
  
  div:nth-child(3) a:hover {
    font-size: 15px;
    color: red;
  }
  
  main section li:nth-child(2) {
    font-size: 22px;
    color: red;
  }
  
  main section li:nth-child(3) {
    font-size: 15px;
    color: blue;
  }
  
  footer p:nth-child(1) {
    font-size: 5px;
  }
  
  h3 {
    color: yellow;
    background: black;
  }
  
  h2 {
    color: blue;
    background: yellow;
  }
  
  h1 {
    color: orange;
    background: white;
  }
  
  p {
    background: green;
    font-size: 15px;
  }
  
  li {
    color: red;
    background: blue;
    font-size: 20px;
  }
  
  ul {
    border: 3px solid blue;
    background: pink;
  }
  
  div {
    border: 3px solid yellow;
    background: orange;
  }
  
  section {
    border: 3px solid brown;
    background: magenta;
  }